#portogress-summary {
	bottom: 0.3rem;
	position: fixed;
	left: 1.5rem;
	width: calc(100% - 3rem);
	.pb-label {
		color: grey;
		font-size: 0.6rem;
		top: 4px;
		position: relative;
	}
	.pb {
		position: absolute;
	}
}

.workspace-leaf-content[data-type='markdown']
	.view-content.portogress-with-summary {
	padding-bottom: 1rem;
}
